# Node modules
node_modules/

# Environment variables
.env
backend/.env*
frontend/.env*
mobile/.env*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# IDE
.idea

# Optional (nếu là file cá nhân)
git-command.txt
.vscode/
.serena/

package-lock.json