<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable WebSocket protocol for socket.io -->
    <webSocket enabled="true" />
    
    <rewrite>
      <rules>
        <rule name="Proxy SocketIO" stopProcessing="true">
          <match url="^socket\.io(.*)" />
          <action type="Rewrite" url="http://localhost:2026/socket.io{R:1}" appendQueryString="true" />
        </rule>
        <rule name="Proxy API to Backend NodeJS" stopProcessing="true">
          <match url="^api(?:/(.*))?$" />
          <action type="Rewrite" url="http://localhost:2026/backend/api/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="SPA Fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="^/(api|backend/api|socket\.io)(/.*)?$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
